# Created by .ignore support plugin (hsz.mobi)
### Magento template
.idea/
vendor/
.htaccess.sample
.htaccess
.htaccess-combined
.htaccess.dist
.modgit/
app/code/community/Phoenix/
app/code/community/Cm/
app/code/core/
app/design/adminhtml/default/default/
app/design/frontend/base/
app/design/frontend/rwd/
app/design/frontend/default/blank/
app/design/frontend/default/default/
app/design/frontend/default/iphone/
app/design/frontend/default/modern/
app/design/frontend/enterprise/default
app/design/install/
app/etc/modules/Enterprise_*
app/etc/modules/Mage_All.xml
app/etc/modules/Mage_Api.xml
app/etc/modules/Mage_Api2.xml
app/etc/modules/Mage_Authorizenet.xml
app/etc/modules/Mage_Bundle.xml
app/etc/modules/Mage_Captcha.xml
app/etc/modules/Mage_Centinel.xml
app/etc/modules/Mage_Compiler.xml
app/etc/modules/Mage_ConfigurableSwatches.xml
app/etc/modules/Mage_Connect.xml
app/etc/modules/Mage_CurrencySymbol.xml
app/etc/modules/Mage_Downloadable.xml
app/etc/modules/Mage_ImportExport.xml
app/etc/modules/Mage_LoadTest.xml
app/etc/modules/Mage_Oauth.xml
app/etc/modules/Mage_PageCache.xml
app/etc/modules/Mage_Persistent.xml
app/etc/modules/Mage_Weee.xml
app/etc/modules/Mage_Widget.xml
app/etc/modules/Mage_XmlConnect.xml
app/etc/modules/Phoenix_Moneybookers.xml
app/etc/modules/Cm_RedisSession.xml
app/etc/applied.patches.list
app/etc/config.xml
app/etc/enterprise.xml
app/etc/local.xml.additional
app/etc/local.xml.template
app/etc/local.xml
app/.htaccess
app/bootstrap.php
app/locale/
app/Mage.php
/cron.php
cron.sh
downloader/
errors/*.php
errors/.htaccess
errors/*.xml
errors/default/css/
errors/default/images/
errors/default/*.original
errors/default/report.phtml
media/catalog/product/
media/catalog/category/
media/wysiwyg/
media/catalog/swatches/
media/custom_options/
media/tmp/catalog/product/
media/email/logo/
media/wrapping/
errors/
favicon.ico
/get.php
includes/
/index.php
index.php.sample
/install.php
js/blank.html
js/calendar/
js/enterprise/
js/extjs/
js/firebug/
js/flash/
js/index.php
js/jscolor/
js/lib/
js/mage/
js/prototype/
js/scriptaculous/
js/spacer.gif
js/tiny_mce/
js/varien/
lib/3Dsecure/
lib/Apache/
lib/flex/
lib/googlecheckout/
lib/.htaccess
lib/LinLibertineFont/
lib/Mage/
lib/PEAR/
lib/Pelago/
lib/phpseclib/
lib/Varien/
lib/Zend/
lib/Cm/
lib/Credis/
lib/Magento/
lib/Unserialize/
lib/recaptcha/
lib/Net/
LICENSE_AFL.txt
LICENSE.html
LICENSE.txt
LICENSE_EE*
/mage
media/customer/
media/dhl/
media/downloadable/
media/.htaccess
media/import/
media/xmlconnect/
media/catalog/product/cache/
media/js/
media/css/
media/catalog/product/placeholder/default/
/api.php
nbproject/
pear
pear/
php.ini.sample
pkginfo/
RELEASE_NOTES.txt
shell/abstract.php
shell/compiler.php
shell/indexer.php
shell/log.php
shell/.htaccess
sitemap.xml
skin/adminhtml/default/default/
skin/adminhtml/default/enterprise
skin/frontend/base/
skin/frontend/rwd/
skin/frontend/default/blank/
skin/frontend/default/blue/
skin/frontend/default/default/
skin/frontend/default/french/
skin/frontend/default/german/
skin/frontend/default/iphone/
skin/frontend/default/modern/
skin/frontend/enterprise
skin/install/
var/
composer.lock
## ignore theme modules
app/code/community/AddThis/
app/code/local/Magegiant/
app/code/local/Smartwave/

app/design/adminhtml/default/default/layout/magegiant/
app/design/adminhtml/default/default/layout/smartwave_blog.xml
app/design/adminhtml/default/default/template/magegiant/
app/design/adminhtml/default/default/template/smartwave/

app/design/frontend/base/default/layout/magegiant/
app/design/frontend/base/default/layout/sharingtool.xml
app/design/frontend/base/default/layout/smartlayers.xml
app/design/frontend/base/default/template/addthis/
app/design/frontend/base/default/template/magegiant/
app/design/frontend/base/default/template/porto/

app/design/frontend/smartwave/

app/etc/modules/AddThis_Sharingtool.xml
app/etc/modules/Magegiant_Dailydeal.xml
app/etc/modules/Smartwave_Ajaxcart.xml
app/etc/modules/Smartwave_Ajaxcatalog.xml
app/etc/modules/Smartwave_All.xml
app/etc/modules/Smartwave_Blog.xml
app/etc/modules/Smartwave_CatalogCategorySearch.xml
app/etc/modules/Smartwave_Filterproducts.xml
app/etc/modules/Smartwave_Fullajax.xml
app/etc/modules/Smartwave_Homeslider.xml
app/etc/modules/Smartwave_Megamenu.xml
app/etc/modules/Smartwave_Porto.xml
app/etc/modules/Smartwave_QuickView.xml
app/etc/modules/Smartwave_Socialfeeds.xml
app/etc/modules/Smartwave_Socialicons.xml

app/locale/de_DE/template/email/smartwave_blog/
app/locale/en_GB/template/email/smartwave_blog/
app/locale/en_US/template/email/smartwave_blog/
app/locale/de_DE/Smartwave_Blog.csv
app/locale/en_GB/Smartwave_Blog.csv
app/locale/en_US/Smartwave_Blog.csv

js/magegiant/
js/smartwave

lib/MaxMind/
lib/recaptcha/recaptchalib-smartwave.php

media/porto/
media/smartwave/
media/wysiwyg/porto/
media/wysiwyg/smartwave/

skin/frontend/base/default/css/magegiant/
skin/frontend/base/default/images/magegiant/
skin/frontend/smartwave/

##ignore onestepcheckout
app/code/local/Magestore

app/design/frontend/base/default/layout/onestepcheckout/
app/design/frontend/base/default/template/onestepcheckout/

app/etc/modules/Magestore_ERPplus.xml
app/etc/modules/Magestore_Magenotification.xml
app/etc/modules/Magestore_Onestepcheckout.xml
app/etc/modules/Magestore_PaypalBNCode.xml

app/locale/en_US/template/email/sales/new_order_notification.html
app/locale/en_US/Magestore_Onestepcheckout.csv

js/magestore/
js/tinybox/tinybox.js

skin/frontend/base/default/css/magestore/
skin/frontend/base/default/images/geoip/
skin/frontend/base/default/images/onestepcheckout/
skin/frontend/base/default/onestepcheckout/

## ingore DHL_intraship
js/dhl/
app/code/community/Dhl/
app/etc/modules/Dhl_Account.xml
app/etc/modules/Dhl_Intraship.xml
app/etc/modules/Dhl_OnlineRetoure.xml
lib/fpdf/

## ignore german language package
app/code/community/German/LocalePackDe/etc/config.xml
app/code/community/German/LocalePackDe/etc/system.xml
app/code/community/German/LocalePackDe/Helper/Data.php
app/code/community/German/LocalePackDe/Model/Observer.php
app/etc/modules/German_LocalePackDe.xml
js/german/localepackde/setup.js

app/code/community/Wfs/DisableCompare/
app/etc/modules/Wfs_DisableCompare.xml

app/code/community/Aoe/
app/code/community/Lesti/
app/code/local/Aschroder/
app/etc/fpc.xml.sample
app/etc/modules/Aoe_Scheduler.xml
app/etc/modules/Aschroder_SMTPPro.xml
app/etc/modules/Lesti_Fpc.xml
dev/
scheduler_cron.sh
shell/scheduler.php
magmi

app/code/community/CosmoCommerce/
lib/Alipay/
app/etc/modules/CosmoCommerce_Alipay.xml
app/code/community/Webshopapps/
app/etc/modules/Webshopapps_Matrixrate.xml

app/code/community/Hackathon/HoneySpam/
app/code/community/IntegerNet/
app/etc/modules/Hackathon_HoneySpam.xml
app/etc/modules/IntegerNet_Autoshipping.xml
js/hackathon/HoneySpam/honeyspam.js

app/code/community/Nexcessnet/
app/etc/modules/Aoe_QuoteCleaner.xml
app/etc/modules/Nexcessnet_Turpentine.xml
shell/varnishadm.php

app/code/community/Aschroder/
app/etc/modules/Aschroder_SetStartOrderNumber.xml

app/code/local/Juicy/
app/etc/modules/Juicy_Geoip.xml
design/adminhtml/default/default/layout/juicy/geoip.xml
design/adminhtml/default/default/template/juicy/
lib/Juicy/

app/code/community/FireGento/
app/etc/modules/FireGento_Pdf.xml
app/etc/modules/Aoe_TemplateHints.xml
app/code/local/Creare/
app/etc/modules/Creare_Eucookielaw.xml

app/code/community/Fooman/
app/etc/modules/Fooman_Common.xml
app/etc/modules/Fooman_SpeedsterAdvanced.xml
app/etc/modules/Fooman_GoogleAnalyticsPlus.xml
lib/minify/

app/code/community/Steverobbins/
app/code/local/Alanstormdotcom/
app/etc/modules/Alanstormdotcom_Layoutviewer.xml
app/etc/modules/Steverobbins_Redismanager.xml

app/code/community/Manticorp/
app/etc/modules/Manticorp_SphinxSearch.xml
lib/sphinxapi.php

app/code/community/Bubble/Autocomplete/
app/etc/modules/Bubble_Autocomplete.xml

app/etc/modules/FireGento_MageSetup.xml
app/code/community/Optimiseweb/
app/etc/modules/Optimiseweb_MobileDetect.xml